.dashboardRegister {
    width: 100vw;
    max-width: auto;
    height: auto;
    padding: 10px;
    background-color: aliceblue;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 3px 3px 8px -4px rgba(0, 0, 0, 0.75);
}